<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
  
  <node pkg="web_video_server" name="web_video_server" type="web_video_server"/>
  <node pkg="realsense2_camera" name="realsense_cam" type="realsense_cam"/>

</launch>
